@media screen and (max-width: 870px){

	#right{
		display:block !important;
		width: 100% !important;
		height:100% !important;
	}
	#left{
		width:100% !important;	
		margin-bottom: 15px;
		float: none;
	}
}