<% provide(:title, 'About') %>
<div id="about">
	<h3> About </h3>
	<p> Poddcast Central brings to you an easy way to find new podcasts with different topics and categories, it's  also makes easier to meet people that share your interests! </p>
</div>