<% provide(:title, 'About Us') %>
<div id="about">
	<h1> About </h1>
	<p> Poddcast Central brings to you an easy way to find new podcasts with different topics and categories, it's  also makes easier to meet people that share your interests! </p>
</div>