<% provide(:title, 'About Us') %>
<div id="about">
	<h1> About </h1>
	<p> Poddcast Central brings the easiest way to find new podcasts with different topics and categories, it's  also makes easier to meet people that share your interests! Join us!</p>
</div>