<% provide(:title,'Contact') %>
<div id="contact">
	<h3> Contact </h3>
	<p> You can contact us for make suggestions, bug reports or any other issue, send us an email: contact@podcastcentral.com </p>
</div>