<html>
<head>
</head>
<body>
	<section id="content-section">
		<article id="signup">
			<!--<div id="intro"><%= image_tag("", class: "intro-img") %></div>-->
			<span> A place to meet new podcasts and podcast listeners in just one place!  <li><%= link_to "Get Involved", signup_path %></li> </span>

		</article>
	</section>

</body>
</html>