<% if signed_in? %>
<% provide(:title, current_user.name) %>
<div class="row">
	<aside class="span4">
			<%= render 'shared/profile_home' %>
	</aside>
</div>
<% else %>
<article id="signup">
	<div id="left">
		<span> A place to meet new podcasts and podcast listeners in just one place!  <li><%= link_to "GET INVOLVED", signup_path %></li> </span>
	</div>
	<div id="right">
		<%= image_tag("user-sample.png", class: "intro-img") %>
	</div>
</article>
<hr/>
<article id="community">
	<div id="left">
		<span> You will find a variety of communities to find new people and new podcasts  </span>
	</div>
	<div id="right">
		<%= image_tag("podcast-sample.png", class: "intro-img") %>
	</div>
</article>
<hr/>
<% end -%>
