<html>
<head>
</head>
<body>
	<section id="content-section">
		<article id="signup">
			<div id="intro"><%= image_tag("placeholder.png", class: "intro-img") %></div>
		</article>
	</section>

</body>
</html>