<html>
<head>
</head>
<body>
	<section id="content-section">
		<article id="signup">
			<!--<div id="intro"><%= image_tag("", class: "intro-img") %></div>-->
			<h2> A place to meet new podcasts and podcast listeners, in just one place!  <li><%= link_to "Get Involved", signup_path %></li> </h2>

		</article>
	</section>

</body>
</html>