<html>
<head>
</head>
<body>
	<section id="content-section">
		<article id="signup">
			<div id="signup-left"> 
				<span> A place to meet new podcasts and podcast listeners in just one place!  <li><%= link_to "Get Involved", signup_path %></li> </span>
			</div>
			<div id="signup-right"><%= image_tag("placeholder.png", class: "intro-img") %></div>
		</article>
	</section>

</body>
</html>