<article id="signup">
	<div id="left"> 
		<span> A place to meet new podcasts and podcast listeners in just one place!  <li><%= link_to "GET INVOLVED", signup_path %></li> </span>
	</div>
	<div id="right">
	<%= image_tag("placeholder.png", class: "intro-img") %>
	</div>
</article>
<hr></hr>
<article id="community">
	<div id="left">
	<%= image_tag("placeholder.png", class: "intro-img") %>
	</div>
	<div id="right">
		<span> You will find a variety of communities to find new people and new podcasts  </span>
	</div>
</article>

