<li>
  <% if(user.image.file.nil?)%>
  	<%= link_to (gravatar_pic user, size: 100), user %>
  <% else %>
    <img src="data:image/jpeg;base64,<%= user.image64 %>" />
  <% end %>
  <%= link_to user.name, user %>
</li>
