<% provide(:title, 'Community') %>
<section class="community">
<h1>Members</h1>
<ul class="users">
  <%= render @users %>
</ul>
<hr></hr>
<%= will_paginate @users, previous_label: ('PREVIOUS'), next_label: ('NEXT') %>
</section>
