<% provide(:title, 'Community') %>
<section class="community">
<h1>Members</h1>
<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users, previous_label: ('previous'), next_label: ('next') %>
</section>