<% provide(:title, @title) %>
<section class="follow">
  <div class="row">
   <h3><%= @title %></h3>
   <% if @users.any? %>
   <ul class="users follow">
     <%= render @users %>
   </ul>
   <%= will_paginate %>
   <% end %>
  </div>
</section>
