<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">	
		<section>
			<article id="user">
				<%= gravatar_for @user, size: 125 %>

				<p><%= @user.name %> </p>
			</article>
			<article id="friends">
				<p> Friends: </p>
			</article>
			<article id="podcasts">
				<p> Podcasts </p>
			</article>
		</section>
	</aside>
</div>