<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<article id="user">
				<%= gravatar_pic @user, size: 150 %>

				<p><%= @user.name %> </p>
			</article>
			<% @user ||= current_user %>
			<article id="follow">
				<%= render 'shared/stats' %>
				<%= render 'follow_form' if signed_in? %>
			</article>
			<article id="podcasts">
				<p> Podcasts </p>
			</article>
		</section>
	</aside>
</div>
