@import 'variables';
.pagination{
	ul{
		list-style:none;
		text-decoration:none;
		padding:0;
		li{

			display:inline-block;
			a{
				text-decoration:none;
				border: 1px solid $main-color-link;
				background-color: $main-color-theme;
				font-size: 15px;
				padding: 10px;
				color: $main-color-link;
				font-family: $main-font-link;
			}
		}
	}
}