/*background options: 1- #242424  2-#f15a29*/
/*font header color: 1- #fccb05 2-#f5f5f5;*/

@import 'variables';

html,
body{
	margin:0;
	width:100%;
	height:100%;	
	position:relative;
	#wrapper{	
		width:100%;
		height:100%;	
		position:relative;
		font-family: $main-font;
		color: $main-font-color;
	
		/*HEADER CSS*/

		@import 'header';

		/**********/
		/*CONTENT CSS*/
		section#content-section{	
				margin: 50px auto;
				width:70%;			
				min-height:100%;
				hr{
					width:100%;
					border-top: 1px solid #e8e8e8;
					margin-top: 20px;
				}
			article#signup, article#community{
				width:100%;
				height: 300px;

				#left{
					width:50%;
					float:left;
					}
				span{
					margin-right:20px;
					font-size: 27px;
					font-weight:300;
					text-align: justify;
					font-family:'Open Sans','Roboto', $main-font, Arial;
				}
				li{
					margin: 30px 0 0 0;

					list-style:none;	
					display:inline-block;				
				}
				a{
					text-decoration:none;
					font-family:'Roboto',Arial;
					background-color: $main-color-theme;
					color: $main-color-link;
					padding: 10px 20px 10px 20px;
					font-size: 33px;
					&:hover{
						background-color: $main-color-link;
						color:$main-color-theme;
					}
				}
				
			#right{
				width:50%;
				float:right;
				}
				img{
					max-width: 100%;
					height:auto;
				}
					
			}
		}
		/**********/
		/*FOOTER CSS*/

		@import 'footer';
		
		/**********/
	}
}