/*background options: 1- #242424  2-#f15a29*/
/*font header color: 1- #fccb05 2-#f5f5f5;*/

@import 'variables';

html,
body{
	margin:0;
	width:100%;
	height:100%;	
	position:relative;
	#wrapper{	
		width:100%;
		height:100%;	
		position:relative;
		font-family: $main-font;
		color: $main-font-color;
	
		/*HEADER CSS*/
		header{
			height:55px;
			background-color: $main-color-theme;
			nav{
				padding: 0 10% 0 5%;
			}
			ul{
				list-style:none;
				text-decoration:none;
			}
			.logo{
				float:left;
				h1{
					font-size: 30px;
					font-family:'trackregular', 'Roboto', Arial;
					margin-top: 10px;
				}
				a{
					text-decoration:none;
					color:#fccb05;
				}
			}
			.menu-right{
				float:right;
				li{
					padding:0 20px;
					&:hover{
						background-color: $main-color-link;
						a{
							color: $main-color-theme;
						}

					}
					&:hover ul{
					   display: block;
					}
				}
				ul.submenu{
					position:absolute;
					background-color:$main-color-theme;
					display:none;
				}
				li.submenu{
					padding: 0;
					display: block;

				}

				a{
					font-family: $main-font-link;
					font-size:15px;
					color:$main-color-link;
					&:hover{
						text-decoration:none;
					}
				}
			}
			li{
				display:inline-block;
				line-height:55px;
			}
			p{
				text-align:center;
			}
		}
		/**********/
		/*CONTENT CSS*/
		section#content-section{	
				margin: 50px auto;
				width:70%;			
				min-height:100%;
				hr{
					width:100%;
					border-top: 1px solid #e8e8e8;
					margin-top: 20px;
				}
			article#signup, article#community{
				width:100%;
				height: 300px;

				#left{
					width:50%;
					float:left;
					}
				span{
					margin-right:20px;
					font-size: 27px;
					font-weight:300;
					text-align: justify;
					font-family:'Open Sans','Roboto', $main-font, Arial;
				}
				li{
					margin: 30px 0 0 0;

					list-style:none;	
					display:inline-block;				
				}
				a{
					text-decoration:none;
					font-family:'Roboto',Arial;
					background-color: $main-color-theme;
					color: $main-color-link;
					padding: 10px 20px 10px 20px;
					font-size: 33px;
					&:hover{
						background-color: $main-color-link;
						color:$main-color-theme;
					}
				}
				
			#right{
				width:50%;
				float:right;
				}
				img{
					max-width: 100%;
					height:auto;
				}
					
			}
		}
		/**********/
		/*FOOTER CSS*/

		section#footer-section{
				background-color: $main-color-theme;
				width:100%;	

				footer{
					width:85%;
					margin:0 auto;
					height:100px;
					#footer-content{
						width:100%;
						height:100%;
						padding-top:10px;
						small{
							float:left;
							font-size: 16px;
							font-family: 'Roboto';
							color:#f5f5f5;
							a{
								font-size: 17px;
								font-family: 'Roboto';
								display:inline-block;
								color: $main-color-link;
							}
						}
						p{
						   text-align:justify;
						   
						} 
						li{
							list-style:none;
							a{
								font-size: 14px;
								font-family: 'Roboto';
								display:inline-block;
								float:right;
								color: $main-color-link;
								padding: 0 10px 0;
							}
						}
					}
				}
			}
		/**********/
	}
}