@import 'variables';
@import 'error';
article#register, article#settings,article#signin{
	width:80%;
	margin:0 auto;
	h1{
		text-align:center;
	}
	label{
		font-weight:300;
		font-size:15px;
	}
	@import 'bootstrap-modified';
}