@import 'variables';
section.community, section.follow{
	@import 'paginate';

	ul{
		list-style:none;
		padding:0;
		li{
			img{
				border-radius:100px;
				margin-top:10px;
			}
			a{
				color: $main-font-color;
				font-size:15px;

			}
		}
	}
}
