/** HOMEPAGE **/
body{
  ul.podcasts{
    list-style: none;
    display: block;
    padding: 0;
    li{
      margin: 10px auto;
      h1, p{
        font-family: $main-font;
      }
      h2{
        color: $main-color-link;
        font-size: 40px;
      }
      p{
        font-family: $main-font;
        font-size: 20px;
        color: $main-font-color;
      }
    }
  }
}
