aside.span4{
	section{
		position: relative;
		width: 100%;
		height: auto;
		article{
			img{
				border-radius:1000px;
				display:block;
				margin: 20px auto 10px auto;
				max-width: 150px;
			}
			p{
				font-weight: 300;
				text-align: center;
				font-size: 25px;
			}

			@import "stats";
		}
		article#podcasts{
			.followed-podcasts{
				text-align: center;
				img{
					width: 80px;
					height: 80px;
					display: inline-block;
					margin: 0 10px;
					border-radius: 1000px;
				}
				a.all-podcasts{
					margin-top: 30px;
					display: block;
					text-align: center;
				}
			}
		}
	}
	input[type="submit"]{
		display: block;
		width: 230px !important;
		margin: 30px auto 0 auto;
		border-radius: 1000px;
		text-align: center;
	}
}
