@import 'variables';
@import 'error';
article#register{
	width:100%;
	margin:0 auto;
	h1{
		text-align:center;
	}
	label{
		margin-left:15%;
		font-weight:300;
		font-size:15px;
	}
	@import 'bootstrap-modified';
}