/*background options: 1- #242424  2-#f15a29*/
/*font header color: 1- #fccb05 2-#f5f5f5;*/

$main-font: 'Nunito',Helvetica,  Arial;
$main-font-link: 'Roboto',Helvetica, Arial;
$main-font-color: #383838;
$main-link-color:#fccb05;
$main-color-theme: #242424;

#wrapper{	
	font-family: $main-font;
	color: $main-font-color;

	header{
		height:55px;
		background-color: $main-color-theme;
		nav{
			padding: 0 15% 0 10%;
		}
		ul{
			list-style:none;
			text-decoration:none;
		}
		.logo{
			float:left;
			h1{
				font-size: 30px;
				font-family:'trackregular', 'Roboto', Arial;
				margin-top: 10px;
			}
			a{
				text-decoration:none;
				color:#fccb05;
			}
		}
		.menu-right{
			float:right;
			li{
				padding:0 20px;
				&:hover{
					background-color: $main-link-color;
					a{
						color: $main-color-theme;
					}

				}
			}
			a{
				font-family: $main-font-link;
				font-size:15px;
				color:$main-link-color;
				&:hover{
					text-decoration:none;
				}
			}

		}
		li{
			display:inline-block;
			line-height:55px;

		}
		a{

		}
		p{
			text-align:center;
		}
	}
	section#content-section{	
			margin-top:30px;
			width:100%;			
		article#signup{
			width:50%;
			margin: 0 auto;

			img{
				max-width: 100%;
				height:auto;
			}
			p{
				text-align:justify;
			}
		}
	}
	section#footer-section{
			margin: 0 auto;
			width:1000px;		
			footer{
				p{
				   text-align:justify;
				   
				}
			}
		}
}