<footer class="footer">
  <small>
    Podcast Central
    by <a href="https://github.com/drodrigo/">Dyego Rodrigo</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>