<header id="main_header">
	<nav class="top-bar" data-topbar="">

		<section id="header-section">
			<ul class="logo">
				<li class="name">
					<span><a href="/"><%= image_tag "podcentral-icon.png" %></a></span>					
				</li>					
			</ul>			
			<ul class="menu-right">						
				<li><a href="/podcast">Podcasts</a></li>
				<li><a href="/group">Groups</a></li>
				<li><a href="/blog">About</a></li>

			</ul>
		</section>
	</nav>
</header>