<header id="main_header">
	<nav class="top-bar" data-topbar="">

		<section id="header-section">
			<ul class="logo">
				<li class="name">
					<h1><a href="/">#Podcast Central</a></h1>
					<!-- <%= image_tag "podcentral-icon.png" %>-->		
				</li>					
			</ul>			
			<ul class="menu-right">					
				<li><%= link_to "PODCASTS", podcasts_path %></li>
				<li><%= link_to "COMMUNITY", community_path %></li>
				<li><%= link_to "SIGN IN", signin_path %></li>

			</ul>
		</section>
	</nav>
</header>